.aut-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-window {
    width: 400px;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.login-text {
    width: 352px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

.login-img {
    width: 132px;
    height: 132px;
}

.login-value , .password-value{
    width: 352px;
    height: 48px;
    padding: 12px 20px;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.send-login {
    width: 352px;
    height: 48px;
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.error {
    border: 1px solid #E93E3E;
}

.invisible {
    position: absolute;
    visibility: hidden;
}

.loginError {
    position: relative !important;
    visibility: visible !important;
    /* top: -12px; */
    left: -125px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #E93E3E;
}

.passwordError {
    position: relative !important;
    visibility: visible !important;
    /* top: -12px; */
    left: -125px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #E93E3E;
}

.gap10 {
    gap: 10px;
}