.modal {
    width: 400px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    z-index: 10;
    animation: swing 0.5s ease-out;
    transform-origin: center;
}

.modal_cup {
    width: 132px;
    height: 165px;
}

.modal_text {
    width: 295px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

.btn_newGame {
    width: 352px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    gap: 8px;
    background-color: #60C2AA;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}

.btn_menu {
    width: 352px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    gap: 8px;
    background-color: #F7F7F7;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.modal__overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
    transition: inherit;
}

@keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(4deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    75% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }