.page-active {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.active-tabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    width: 781px;
    background: #FFFFFF;
/* Elevation / Lv2 */

box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
border-radius: 40px;
}

.title-active {
    width: 199px;
height: 36px;

/* Headers / H1 – bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

display: flex;
align-items: center;
text-align: center;

/* Gray / 700 */

color: #373745;
}

.active-tabel__headRow {
    display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 10px;

width: 717px;
height: 36px;
}

.active-row {
    display: flex;
align-items: center;
justify-content: center;
padding: 12px 0px;
gap: 16px;

width: 717px;
height: 72px;

/* Gray / White */

background: #FFFFFF;
}

.col1 {
    width: 360px;
height: 24px;

/* Body / 16px regular */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.24px;
}

.flex {
    display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 80px;

width: 341px;
height: 48px;
}

.plateSize {
    gap: 10px !important;
    width: 100px !important;
    height: 32px !important;
    font-size: 16px !important;
}

.tabel-btn {
    width: 161px !important;
    height: 48px !important;
}