.chat {
    width: 412px;
    min-height: 384px;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    top: 463px;
    right: 40px;
}


.send_message {
    display: flex;
    gap: 12px;
    margin-top: 14px;
}
