@import 'normalize.css';

.players {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    max-width: 500px;
    min-height: 224px;
    padding: 24px;
    gap: 24px;
    left: 64px;
    top: 136px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
}

.players_name {
    font-weight: 700;
    font-size: 24px;
}

.player {
    display: flex;
    align-items: start;
    gap: 12px;
    margin-top: 20px;
}

.figure {
    width: 24px;
    height: 24px;
}

.player_name {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 20px;
}

.win_percent {
    color: #898993;
    font-weight: 400;
    font-size: 14px;
}
