.green_btn {
justify-content: center;
padding: 12px 20px;
gap: 8px;

width: 97px;
height: 48px;
left: 20px;
top: 20px;

background: #60C2AA;
border-radius: 12px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.24px;
color: #FFFFFF;

}

.green_btn:hover {
    background: #3BA189;
    transition: all 200ms ease-in-out;
}