.score {
    width: 139px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-top: 124px;
    background: #EDEDED;
    border-radius: 12px;
    font-weight: 900;
    font-size: 34px;
}

