.move {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.player_move {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.move_now {
    width: 400px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 12px;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
}
