.input_message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    width: 352px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
}