.field {
    max-width: 663px;
    max-height: 663px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.field-item {
    width: 219px;
    height: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 12px;
}

.winner {
    background-color: green;
  }
  
  .winner.x {
    background-color: green;
    color: white;
  }
  
  .winnerO {
    background-color: pink;
  }
