.main_container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    background-color: #E5E5E5;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 40px;
}
