.btn_send_message {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60C2AA;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}
