.message_2 {
    width: 352px;
    min-height: 76px;
    padding: 12px;
    margin: 6px;
    align-self: end;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 0px 16px;
}

.message_player {
    display: flex;
    justify-content: space-between;
}

.message_text {
    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.time {
    color: #898993;
    font-weight: 400;
    font-size: 14px;
}

.color_pink {
    color: rgba(227, 139, 172, 1);
}

