.switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch input {
    display: none;
}

.switch__label {
    position: relative;
    padding-right: 52px;
    cursor: pointer;
    user-select: none;
    transition: all 100ms ease-in-out;
    padding-bottom: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20 px;
    letter-spacing: 0.24px;
    color: #373745;
}

.switch__label:before {
    content: '';
    width: 42px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #DCDCDF;
    border-radius: 200px;
    transition: inherit;
}

.switch__label:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F7F7F7;
    border-radius: 50%;
    transition: inherit;
    border: 1px solid rgba(137, 137, 147, 0.2);
}

.switch input:active ~ .switch__label:before {
    background-color: rgba(0, 255, 145, 0.4);
}

.switch input:checked:active ~ .switch__label:before {
    background-color: rgba(0, 255, 145, 0.4);
}

.switch input:active ~ .switch__label:after {
    width: 24px;
    right: 17px;
    border-radius: 200px;
}

.switch input:checked:active ~ .switch__label:after {
    width: 24px;
    border-radius: 200px;
    right: 0px;
}

.switch input:checked ~ .switch__label:before {
    background-color: #60C2AA;
}

.switch input:checked ~ .switch__label:after {
    right: 0px;
    width: 20px;
    border-radius: 20px;
    background-color: #3ba16e;
}