.header {
    height: 64px;
    width: 100vw;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 16px 40px;
    color: #373745;
}

.nav_list {
    list-style-type: none;
    display: flex;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;
}

.nav_list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 12px;
}

a:hover {
    background: #F7F7F7;
    border-radius: 200px;
    transition: 200ms;
}

.active {
    color: white;
    padding: 4px 12px;
    background: #60C2AA !important; 
    border-radius: 200px;
    transition: 200ms;
}

.login {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}