.outGame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    gap: 4px;
    width: 62px;
    height: 24px;
    background: #EDEDED;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #373745;
}