.gray_btn {
    /* display: flex;
align-items: flex-start; */
justify-content: center;
padding: 12px 20px;
gap: 8px;

width: 97px;
height: 48px;
left: 20px;
top: 20px;

background: #F7F7F7;
border-radius: 12px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #92929d;

cursor: not-allowed;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.24px;

}
